# Transaction data files
data/**/*.csv
# Seed data files
dbt/seeds/*.csv
!dbt/seeds/dbt_project_evaluator_exceptions.csv
!dbt/seeds/google_finance__eur_usd.csv
!dbt/seeds/vendor_category_mapping.csv
!dbt/seeds/category_mapping.csv
# Local database files
*.db
*.duckdb
coverage.json
# Python venv
.venv
# Log files
*.log

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/

# MkDocs
site/