# Transaction data files
data/**/*.csv
# Seed data files
dbt/seeds/*.csv
!dbt/seeds/dbt_project_evaluator_exceptions.csv
# Local database files
*.db
*.duckdb
coverage.json
# Python venv
.venv
# Log files
*.log

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/

# MkDocs
site/