[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "==2.0.0a2"
dbt-duckdb = "==1.10.1"
dbt-coverage = "*"
streamlit = "*"
pandas = "*"

[dev-packages]
sqlfluff = "*"
sqlfluff-templater-dbt = "*"
mkdocs = "*"
mkdocs-material = "*"
shandy-sqlfmt = "*"

[requires]
python_version = "3.12"
