[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "*"
dbt-sqlite = "*"

[dev-packages]
sqlfluff = "*"
sqlfluff-templater-dbt = "*"

[requires]
python_version = "3.12"
